<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenDrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAA2459E1C302C4B008CAB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA245B71C302C4B008CAB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA245C21C302C4B008CAB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
